body
{
	background-color: #FCFCFC; /*#EEEEEE*/
}

.output
{
	font-size: 120%;
}
.outerr
{

}
.error
{
	color: red;
}
.notice
{
	color: blue;
}
.sctab
{
	border-collapse: collapse;
}
.outh
{
	display: none;
}

.outpane
{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}

.scmatd
{
	display: block;
}

.scmatm
{
	display: none;
}

/*@media(min-width: 992px) {

.scmatd
{
	display: block;
}

.scmatm
{
	display: none;
}

}*/

.scmatf
{
	color: #555555;
	font-weight: normal;
	width:50px;
}

.seq
{
	font-weight: normal;
	width:250px;
}

.ins
{
	background-image: url(arrowleft.png);
	background-repeat: no-repeat;
	color: #0000FF;
}
.del
{
	background-image: url(arrowup.png);
	background-repeat: no-repeat;
	color: #FF0000;
}
.mis
{
	background-image: url(arrowdiagorange.png);
	background-repeat: no-repeat;
	color: #FF8800;
}
.mat
{
	background-image: url(arrowdiaggreendark.png);
	background-repeat: no-repeat;
	color: #000000;
}
.sccell
{
	border: solid 2px #444444;
}
.path
{
	border: solid 3px #00FF00;
}
.other
{
	border: solid 3px #FCFCFC;
}
.tabcell
{
	font-size: 95%;
	text-align: right;
	width: 36px;
	height: 36px;
}
.tabhead
{
	font-size: 95%;
	text-align: center;
	width: 36px;
	height: 36px;
	line-height: 36px;
}

.scmathead
{
	text-align: center;
}


.data
{
	font-family: monospace;
}

/* navbar */
.navbar-default {
    background-color: #CDCDE6; /*95A5F0, #5FC6D7*/
    border-color: #E7E7E7;
    width: 98%;
    margin-left: auto;
	margin-right: auto;

}

.footer
{
	/*position: fixed;*/
	bottom:0px;
	height:40px;
	line-height:40px;
	color:#AAAAAA;
	/*border: 3px solid black;*/
	width:100%;
	background-color: #EDEDFF; /*95A5F0, #5FC6D7*/
}

@media(min-width: 792px){

	.footer
	{
		position: fixed;
		bottom:0px;
		left:0px;
		height:40px;
		line-height:40px;
		color:#AAAAAA;
		padding-left: 10px;
		/*width:100%;*/
		background-color: #EDEDFF; /*95A5F0, #5FC6D7*/
	}

	.spacer
	{
		display:block;
		width:100%;
		height:40px;
	}

}

#descr
{
	max-width:550px;
}

.no-center
{
	text-align: left;
}